asgiref==3.4.1
astroid==2.3.1
backports.entry-points-selectable==1.1.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.4
coloredlogs==15.0.1
distlib==0.3.3
Django==3.2.9
dnspython==2.2.0
filelock==3.3.2
future==0.18.2
humanfriendly==4.18
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
numpy==1.22.2
pandas==1.4.1
pipenv==2021.5.29
platformdirs==2.4.0
pycparser==2.19
python-dateutil==2.8.2
pytz==2021.3
simplejson==3.17.6
six==1.12.0
sqlparse==0.4.2
urllib3==1.25.6
virtualenv==20.10.0
virtualenv-clone==0.5.7
wrapt==1.11.1
yara==1.7.7
yara-python==3.11.0
zio3 @ git+https://github.com/alset0326/zio3.git@d5f04462a7657c4af5fcd7746ffda0f00b7086d7
